.header{

	width: 100%;

	min-width: 850px;

	right: 0px;

	left: 0px;

	position: absolute;

	top: 0px;

	margin: 0px;

	padding: 10px;

	border-style: none;

    background:transparent url(bg.png) repeat-x scroll 0 0;

}

.navlinks
{
margin: 0px;
float: right;
top: 10px;
font-size: small;
background-repeat: repeat-x;
padding:0;
color: black;
font-family: "Lucida Grande","Lucida Sans","Lucida Sans Unicode",Verdana,sans-serif;
white-space:nowrap;
list-style-type:none;

}

.navlinks li 
{
top: 10px;
display:inline;
float:left;
margin-right:4px;
position:relative;
}

.aboutbox 
{
	padding-right: 10%;
	padding-left: 10%;
	right: 0px;
	left: 0px;
	color: white;
	font-family: "Lucida Grande","Lucida Sans","Lucida Sans Unicode",Verdana,sans-serif;
	line-height: 1.2em;
	background-color: #2c32a7;
	top: 75px;
	position: absolute;
}

.aboutbox p
{

	margin: 15px;

}
