# -*- coding: utf-8 -*-
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
    <head>
        ${h.stylesheet_link('/main.css')}
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript" /></script>
        <title>DontCheckMe.In</title>
    </head>
    <body>
        <div class="header">
            <a href="/"><img src="/logo.png" class="logo" /></a>
            <ul class="navlinks">
                <li><a href="${url(controller='tags')}">Explore by Tag</a></li>
                <li><a href="${url(controller='ignorefile', action='add')}">Submit</a></li>
                <li><form name="search" method="post" action="/search">
                        <input type="text" name="term" />
                    </form>
                </li>
            </ul>
        </div>
        ${self.body()}
    </body>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-12168480-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>    
</html> 

